:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;

  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5%;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container {
  max-width: 200px;
  margin: 0 auto;
}
h4 {
  font-weight: 900;
  color: hsl(220, 100%, 1%);
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 12.5px;
  text-align: center;
  margin-bottom: 30px;
}
.hero-img {
  max-width: 85%;
  height: 200px;
  width: 250px;
  border-radius: 5%;
  margin: 10px auto;
}
